html, body {
    height: 100%;
    width: 100%;
    font-family: 'Tajawal', sans-serif;
}
body {
    display: flex;
}
#panel {
    padding: 1em;
    min-width: 300px;
}
#region-select {
    border: none;
    padding: 0.5em;
}
#region-select > option {
    color: #000;
    background-color: #dfdfdf;
}
#map_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#info {
    display: none;
    padding: 0.7em;
    border-left: 1px solid #818181;
}
#close {
    position: absolute;
    left: calc(100% - 28px);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#info p {
    text-align: center;
    margin: 0;
}
#info-title {
    font-size: 140%;
}
#stats > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 12em;
    margin: 0.6em 0.4em;
}
#stats > div > :nth-child(1) {
    line-height: 90%;
    color: #eee;
    font-size: 110%;
    font-variant: small-caps;
}
#stats > div > :nth-child(2) {
    flex-basis: 2em;
    line-height: 2em;
    font-size: 150%;
}
#stats > div > :nth-child(3) {
    color: #bbb;
    font-size: 80%;
}
#map, #map-parent {
    height: 100%;
    width: 100%;
}
@media (max-width: 600px) {
    body {
        flex-direction: column-reverse;
    }
    #map_info {
        border-left: none;
    }
}