html, body {
    height: 100%;
    width: 100%;
}
* {
    font-family: 'Tajawal', sans-serif;
}
body {
    display: flex;
}
.leaflet-tooltip {
    background-color: #303030 !important;
    color: white;
}
.leaflet-tooltip p {
    text-align: center;
    margin: 0;
}
.leaflet-tooltip > :nth-child(1) {
    font-size: 130%;
}
.leaflet-tooltip > :nth-child(2) {
    font-size: 100%;
    color: #eee;
}
.leaflet-tooltip > :nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: #eee;
}
.leaflet-tooltip > div > :nth-child(1) {
    line-height: 1.3em;
    font-size: 150%;
}
.leaflet-tooltip > div > :nth-child(2) {
    margin: 0 0.5em;
    color: #ddd;
    font-size: 90%;
}
#panel {
    flex: 1 1 auto;
    padding: 1em;
    min-width: 35%;
    max-width: 50%;
    overflow-y: auto;
}
#region-select {
    border: none;
    padding: 0.5em;
}
#region-select > option {
    color: #000;
    background-color: #dfdfdf;
}
.chart-tile {
    margin: 1em 0;
    border: #666 solid 1.3px;
    padding: 10px 8px;
    border-radius: 3px;
    cursor: pointer;
}
.chart-tile.active {
    background-color: rgba(255, 255, 255, 0.15);
}
.chart {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    align-items: flex-end;
    margin-bottom: 1em;
}
.chart-title {
    margin: 0;
    text-align: center;
    /*font-variant: small-caps;*/
}
.bar {
    flex: 1;
    margin: 0;
}
.bar::after {
    display: block;
    position: relative;
    background-color: #444;
    content: '';
    height: 100%;
    width: 2px;
}
.bar.inactive {
    opacity: 0.6;
}
#map_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#info {
    display: none;
    padding: 0.7em;
    border-left: 1px solid #818181;
}
#close {
    position: absolute;
    left: calc(100% - 28px);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
#context div {
    margin: 0 0.5em;
}
#context {
    margin-bottom: 1em;
}
#context p {
    display: inline;
}
#context p:nth-child(1) {
    font-variant: small-caps;
    color: #bfbfbf;
    font-size: 95%;
}
#context p:nth-child(2) {
    margin-left: 0.2em;
    color: #d9d9d9;
}
#stats, #context {
    display: flex;
    flex-wrap: wrap;
}
#stats {
    justify-content: space-evenly;
}
#context {
    justify-content: center;
}
#info p {
    text-align: center;
    margin: 0;
}
#info-title {
    font-size: 140%;
}
#stats > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 12em;
    margin: 0.6em 0.4em;
}
#stats > div > :nth-child(1) {
    line-height: 100%;
    color: #ddd;
}
#stats > div > :nth-child(2) {
    flex-basis: 2em;
    line-height: 2em;
    font-size: 150%;
}
#stats > div > :nth-child(3) {
    color: #bbb;
    font-size: 80%;
}
#map, #map-parent {
    height: 100%;
    width: 100%;
}
@media (max-width: 600px) {
    body {
        flex-direction: column-reverse;
    }
    #map_info {
        border-left: none;
    }
}